
 *{
    font-family: Arial, sans-serif;
     margin : 0;
     padding : 0;
}

 #profile-card{
     background-color : #f4f4f4f4;
     width : 400px;
     padding : 20px;
     text-align : center;
 }

 .name{
     color : darkblue;
     text-align : center;
 }

 .description strong{
    color : red;
 }

 ul.skill-list{
     margin-bottom : 0;
 }

 .btn-contact:hover{

 }

